<li><strong>Brand:</strong> {{ item.brand }}</li>
<li><strong>Model:</strong> {{ item.model }}</li>
<li><strong>Screen size:</strong> {{ item.screen_size }}</li>
<li><strong>Refresh rate:</strong> {{ item.refresh_rate }}</li>
<li><strong>Product dimensions:</strong> {{ item.product_dimensions }}</li>
<li><strong>Resolution:</strong> {{ item.resolution }}</li>
<li><strong>Display technology:</strong> {{ item.display_technology }}</li>
<li><strong>Connectivity technology:</strong> {{ item.connectivity_technology }}</li>